//  Colours
$white: #fff;
$blue: #fff;
$backgroundColor: #FFF;

//  Banner size
$width: 320px;
$height: 480px;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: none;
}
@font-face {
    font-family: "OpenSans-Semibold";
    src: url("fonts/OpenSans-Semibold.woff") format("woff");
    // font-style:   normal;
    font-weight: 700;
  }
  